.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.deviceContainer {
  position: relative;
}

.deviceImageContainer {
  border: 1px solid coral;
}

.deviceImage {
  border: 1px solid black;
}

.deviceName {
  position: absolute;
  top: 10px;
  left: 0;

  font-size: 10px;
  color: grey;

  width: 100px;
}
