.tutorial {
  height: 95vh;
  width: 100vw;
  overflow: hidden;

  --color-text: #fff;
  --color-bg: #171717;
  --color-link: #ff0000;
  background-color: var(--color-bg);
}
.page {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page__inner {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
}

.nav {
  z-index: 2000;
  display: flex;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* hide cursor */
.page,
.page a {
  cursor: none;
}
