.postDiv {
  margin: 20px 10px;
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.postDivFull {
  min-height: 300px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.postDivBorder {
  transition: transform 300ms ease;
  background-color: white;
  box-shadow: 1px 2px 12px rgba(0, 0, 0, 0.089);
  border-radius: 8px;
  overflow: hidden;
  height: 400px;
  width: 300px;
}

.postDivBorder:hover {
  z-index: 10;
  transform: scale(1.05);
  box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.11);
}

.postDivPadding {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: calc(100% - 10px);
  padding: 20px;
}

.imgDiv {
}

.img {
  height: 100%;

  width: 400px;
  object-fit: cover;
  object-position: center;
}

.textDiv {
  margin: 0 10px;
  width: 90%;
  max-width: 400px;
  text-align: left;
}

.text {
  text-align: left;
  overflow-wrap: break-word;
  font-size: 13px;
  font-weight: 200;
}

@media (min-width: 420px) {
  .img {
    width: 100%;
  }
  .textDiv {
    width: 100%;
    max-width: 400px;
  }
}

@media (min-width: 600px) {
  .postDiv {
    flex-direction: row;
  }
  .flip {
    flex-direction: row-reverse;
  }
  .img {
    width: 300px;
  }
}
